<!DOCTYPE html>
<html>
  <head>
    <meta name="turbo-visit-control" content="reload">
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <%= render "layouts/header" %>
      </div>

      <div id="main">
        <div id="sidebar">
          <%= render "layouts/sidebar" %>
        </div>

        <div id="content">
          <% flash.each do |key, message| %>
            <div class="flash <%= key %>">
              <p><%= message %></p>
            </div>
          <% end %>

          <%= yield %>
        </div>
      </div>

      <div id="footer">
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
